body {
  font-family: "Gill Sans", sans-serif;
  background-color: rgb(21 20 25);
  margin: 0;
}

h1 {
  font-weight: inherit;
  font-size: 80px;
  line-height: 91px;
  font-style: italic;
  color: rgb(251, 249, 255);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  cursor: pointer;
  transition: 0.5s;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.selected {
  background-color: rgb(255, 255, 255);
  color: black;
  transition: 0.5s;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 2px rgb(255 255 255 / 10%);
}

.header__title {
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  line-height: 140%;
  white-space: nowrap;
  color: rgb(251, 249, 255);
}

.lesson__container {
  transition: 0.5s;
  inline-size: 600px;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 30px;
  padding: 60px;
  background-color: rgb(255 255 255 / 5%);
  border-radius: 5px;
  border: 1px solid #ffffff1f;
  box-shadow: inset 1px 1px #ffffffa1;
  color: white;
}
.lesson__container:hover {
  transition: 0.5s;
  background-color: rgb(255 255 255 / 10%);
}

.lesson__button {
  cursor: pointer;
  transition: 0.5s;
  padding: 15px 30px;
  max-width: max-content;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 2px rgb(255 255 255 / 10%);
}

.lesson__button:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  transform: translate(0, -3px);
  box-shadow: 0px 20px 40px 20px rgb(11 97 246 / 20%);
}

.lesson__input {
  outline: 0;
  padding: 20px;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.9);
}

.lesson__input:hover {
  transform: translate(0, -3px);
  box-shadow: 0px 20px 40px 20px rgb(11 97 246 / 20%);
}

.lesson__input-box {
  display: flex;
  transition: 0.5s;
}

.lesson__input-box:hover {
  transform: translate(0, -3px);
  box-shadow: 0px 20px 40px 20px rgb(11 97 246 / 20%);
  border-radius: 5px;
}

.input-box {
  flex: 1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  hyphens: auto;
  text-wrap: wrap;
  block-size: auto;
  inline-size: auto;
}

.input-box:hover {
  transform: none;
  box-shadow: none;
}

.button-sumbit {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: none;
  border: none;
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, 0.9);
}
.button-sumbit:hover {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transform: none;
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.button-sumbit::after {
  max-width: max-content;
}

.tooltip {
  position: fixed;
  padding: 10px 20px;
  margin-right: 10px;
  border: 1px solid #b3c9ce;
  border-radius: 5px;
  text-align: center;
  font: italic 14px/1.3 sans-serif;
  color: rgba(0, 0, 0, 0.8);
  background: #fff;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

table {
  border-collapse: collapse;
}
th,
td {
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: 4px;
  text-align: center;
}
th {
  cursor: pointer;
}
th:hover {
  background: rgb(255, 255, 255);
  color: black;
}

.lesson__link {
  color: rgb(85, 73, 158);
  text-decoration: none;
  transition: 0.5s;
}

.lesson__link:hover {
  color: rgb(214, 213, 224);
  box-shadow: 0px 20px 40px 20px rgb(11 97 246 / 20%);
}

#contents {
  transition: 0.5s;
}

#contents:hover {
  transform: translate(0, -3px);
  box-shadow: 0px 20px 40px 20px rgb(11 97 246 / 20%);
  transition: 0.5s;
}


.slider {
  border-radius: 5px;
  background: #E0E0E0;
  width: 310px;
  height: 15px;
  margin: 5px;
}

.thumb {
  width: 20px;
  height: 25px;
  border-radius: px;
  position: relative;
  left: 10px;
  top: -5px;
  background: rgba(0, 0, 0) ;
  cursor: pointer;
}